* {margin: 0; padding: 0;box-sizing:border-box;}
*::after{
  box-sizing:border-box;
}
*::before{
  box-sizing:border-box;
}
body{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.code-wrapper {
  flex: 1;
  height: 50%;
  
}
#code {
  overflow: hidden;
  height: 100%;
  color: rgb(222,222,222); 
  background: rgb(0,43,54);
  padding: 10px;  
}
.preview-wrapper {
  flex: 1;
  height: 50%;
}
.action {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column
}
.action > button {
  margin: 7px;
  padding: 3px;  
}
.action > button.active {
  border: 1px solid rgb(224, 218, 218);
}

